# Videos
Covid01.mp4
Covid02.mp4
Covid03.mp4
Diabetes.mp4
Digitalization.mp4
Healthcare01.mp4
Healthcare02.mp4
HomePage.mp4
Medicines.mp4

# Images
ExplorePage.png
covid.jpg
images/*

# Word
Resources.docx

# Reflections
reflections/*

