@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Montserrat:ital,wght@0,200;1,200&display=swap');

body{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     text-align: center;
     background: #000000;
     line-height: 1.5;
     letter-spacing: 1px;
}

html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
} 

/* header */

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    transition: 0.5s ease;
}

header .brand{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

.navigation-class{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.navigation a{
    color: white;
    padding-right: 18px;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
    content:'';
    position: absolute;
    background: #000;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:after{
    width: 100%;
}

/* Media Queries */

@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .menu-btn{
        background: url()no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

/* About Section */

.wrapper{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(100, 0, 0, 0.75)), url(images/PalmPrint.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial{
    padding: 10px 100px;
}

article{
    color: white;
}

article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
}

article h1:after{
    content:"";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

article img{
    height: 200px;
    width: 200px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin-top: 10px;
}

blockquote{
    font-size: 15px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

article h5{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

article p{
    font-size: 17px;
    text-align: center;
}

/* Social Media */

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}