@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Montserrat:ital,wght@0,200;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: black;
} 

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    transition: 0.5s ease;
}

header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

.navigation-content h1{
    /* font-size: 25px;  */
    /* font-weight: 500; */
    line-height: 30px;
    margin-bottom: 10px;
}

.navigation a{
    color: white;
    padding-right: 20px;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
    content:'';
    position: absolute;
    background: #000;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:after{
    width: 100%;
}

section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 5em;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 10px;
    width: 100%;
 }

.home .content h3{
    font-size: 3em;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 75px;
    margin-bottom: 40px;
    width: 100%;
}

.home .content p{
    margin-bottom: 65px;
    font-size: 17px;
}

.home .content a{
    background: #fff;
    padding: 10px 30px;
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .menu-btn{
        background: url()no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}
